*.o
*.out
*.so
*.so.1
*.so.1.0
*.so.1.0.0
moc_*
.qmake.stash

# ch01
Chapter-01/ImageViewer/ImageViewer
Chapter-01/ImageViewer/Makefile
# ch02
Chapter-02/ImageEditor/ImageEditor
Chapter-02/*/Makefile
# ch03
Chapter-03/Gazer/Gazer
Chapter-03/*/Makefile
# ch04
Chapter-04/Facetious/Facetious
Chapter-04/*/Makefile
Chapter-04/Facetious/data/lbfmodel.yaml
