*.o
*.out
*.so
*.so.1
*.so.1.0
*.so.1.0.0
*.mp4
*.exe
moc_*
qrc_*
.qmake.stash

# ch01
Chapter-01/ImageViewer/ImageViewer
Chapter-01/ImageViewer/Makefile
# ch02
Chapter-02/ImageEditor/ImageEditor
Chapter-02/*/Makefile
# ch03
Chapter-03/Gazer/Gazer
Chapter-03/*/Makefile
# ch04
Chapter-04/Facetious/Facetious
Chapter-04/*/Makefile
Chapter-04/Facetious/data/lbfmodel.yaml
# ch05
Chapter-05/Literacy/Literacy
Chapter-05/*/Makefile
frozen_east_text_detection.pb
# ch06
Chapter-06/Detective/Detective
Chapter-06/Detective/data/
Chapter-06/*/Makefile
# ch07
Chapter-07/DiGauge/DiGauge
Chapter-07/DiGauge/data/
Chapter-07/*/Makefile
# ch08
Chapter-08/*/Makefile
Chapter-08/QtGL/QtGL
Chapter-08/GLFilter/GLFilter
